@import './custom.scss';

body {
    background-color: $secondary;
}

.main {
    background-image: linear-gradient(to right, #306bde, #114dc3);
    height: 80vh;

    &__heading {
        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
    }

    &__borders {
        display: block;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
    }

    &__title {
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        display: inline-block;
        animation: fade-in--left 3s ease-out;
    }
    &__sub-title {
        display: inline-block;
        animation: fade-in--right 3s ease-out;
    }

    &__email-btn {
        background: none;
        border: none;
        border-bottom: 2px solid transparent;

        &:focus,
        &:hover {
            color: $light;
            outline: none;
            border-bottom: 2px solid $light;
            cursor: pointer;
        
            & #myEmailText {
                color: inherit;
            }
        }
        
        & #myEmailText {
            color: #1f1f1f;
        }
    }

    &__contact-icons {
        animation: fade-in 2s 1s backwards;
        

        & .contact-icon {
            color: #1f1f1f;
            transition: all .25s;

            &:focus,
            &:hover {
                outline: none;
                color: $light !important;
            }
        }
    }

    & #myEmail {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__button {
        display: inline-block;
        animation: fade-in--bottom 2s 1s backwards;
    }


    &__triangle {
        position: absolute;
        width: 100%;
        height: 40%;
        
        // background-color: red;

        &--1 {
            bottom: 0;
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            background-image: linear-gradient(to right bottom, rgba($primary--dark, 0), rgba($primary--dark, .3), rgba($primary--dark, .6), rgba($primary--dark, .9));
        }
        
        &--2 {
            top: 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            background-image: linear-gradient(to left top, rgba($primary--dark, 0), rgba($primary--dark, .5), rgba($primary--dark, .5));

        }
    }


    & #particles-js {
        height: 100%;
    }
}