@media (max-width: 992px) {
    .main {
        height: 60vh !important;

        &__title {
        font-size: 60px !important;
        }
        
        &__sub-title {
            font-size: 36px !important;
        }   
        
        &__email-btn,
        &__contact-icons {
            font-size: 38px !important;

            & a {
                font-size: 44px !important;
            }
        }
    }
}
@media (max-width: 575px) {
    .side-icons {
        font-size: 30px !important;
    }

    .main {
        height: 60vh !important;

        &__title {
            font-size: 36px !important;
        }

        &__sub-title {
            font-size: 22px !important;
        }   

        &__button {
            font-size: .9rem;
           padding: .2rem .6rem;
        }

        &__email-btn,
        &__contact-icons {
            font-size: 28px !important;

            & a {
                font-size: 34px !important;
            }
        }
    }
}